
@{
    ViewBag.Title = "Author";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Группа @ViewBag.singleAuthor.Name</h2><br />
            <h3>Биография</h3><br />
            @ViewBag.singleAuthor.Biography
        </div>
        <table class="table table-striped table-hover table-bordered table-condensed">
            <tr>
                @{
                <th><center>@Html.ActionLink("Название композиции", "Author", new { sortByNames = ViewBag.SortedByNames })</center></th>
                <th><center>@Html.ActionLink("Количество просмотров", "Author", new { sortByViews = ViewBag.SortedByViews })</center></th>

                 }
            </tr>
            @foreach (var song in ViewBag.Songs)
            {
                <tr>
                    <th><a href="/Home/Song/@song.SongId" style="text-align:center">@song.Name</a></th>
                    <th style="text-align:center">@song.NumberOfView</th>
                </tr>
            }
        </table>


    </div>
</div>

