@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Главная</li>
</ol>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Список групп</div>
        <table class="table table-striped table-hover table-bordered table-condensed">
            <tr>
                <th>@Html.ActionLink("Имя исполнителя", "Index", new { sortByNames = ViewBag.SortedByNames })</th>
                <th><center>@Html.ActionLink("Количество подборов", "Index", new { sortByAccordSelection = ViewBag.SortedByAccordSelection })</center></th>
                <th><center>@Html.ActionLink("Количество просмотров", "Index", new { sortByNumberOfView = ViewBag.SortedByNumberOfView })</center></th>
            </tr>
            @{
                int i = 0;
                foreach (var author in ViewBag.Authors)
                {
                <tr>
                    <th><a href="/Home/Author/@author.AuthorId" style="text-align:center">@author.Name</a></th>
                    <th style="text-align:center">@author.Songs.Count</th>
                    <th style="text-align:center">@ViewBag.ViewCounts[i++]</th>
                </tr>
                }
             }
        </table>


    </div>
</div>